# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**
- Popular languages for data science
- libraries used in data science
- data science tools

#### Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

Data Science Tools|
-------------------
JupyterNotebook|
Apache Spark|
Google Cloud|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60.
hours = 200//60
minutes = 200%60
print(str(hours)+'hours'+ str(minutes)+'minutes')

3hours20minutes

## Author
Geeta krishna